<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка 404 - Страница не найдена</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="icon" type="image/png" href="free-icon-credit-card-10445706.png">
</head>
<body>
    <div class="registration-container">
        <h1>404 - Страница не найдена</h1>
        <div class="error-content">
            <p>К сожалению, запрашиваемая страница не существует или была перемещена.</p>
            <p>Пожалуйста, проверьте адрес или вернитесь на главную страницу.</p>
            <a href="/" class="submit-btn">Вернуться на главную</a>
        </div>
    </div>
</body>
</html>